{% extends 'base.html' %}

{% block noauth %}
style="color: floralwhite ;" font-weight: bold;"
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container mt-5 mb-5">
        <h1 style="color: floralwhite ;" font-weight: bold;">회원가입</h1>
        <div class="input-group input-group-lg mt-5">
            <span class="input-group-text" style="color: floralwhite; font-weight: bold; background-color: rgba(0, 132, 255, 0.199);width: 110px" id="inputGroup-sizing-lg">아이디</span>
            <input type="text" name="username" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="input-group input-group-lg mt-4">
            <span class="input-group-text" style="color: floralwhite; font-weight: bold; background-color: rgba(0, 132, 255, 0.199);width: 110px" id="inputGroup-sizing-lg">비밀번호</span>
            <input type="password" name="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="input-group input-group-lg mt-4">
            <span class="input-group-text" style=" color: floralwhite; font-weight: bold; background-color: rgba(0, 132, 255, 0.199);width: 110px" id="inputGroup-sizing-lg">별명</span>
            <input type="text" name="nickname" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="input-group input-group-lg mt-4">
            <span class="input-group-text" style=" color: floralwhite; font-weight: bold; background-color: rgba(0, 132, 255, 0.199);width: 110px" id="inputGroup-sizing-lg">자기소개</span>
            <textarea name="comment" class="form-control" style=" height: 200px;" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"></textarea>
        </div>
        <div class="input-group input-group-lg mt-4">
            <input type="file" name="pic" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="mt-3 ">
            <button class="btn btn-success" style="font-weight: bold; width: 81rem">회원가입</button>
        </div>
    </div>
</form>

{% endblock %}